<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="js/bootstrap.min.js">
    <link rel="shortcut icon" type="icon/x-image" href="images/log.png">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="w3schools.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
    .icons {
        justify-content: space-around;
        margin-top: 5px;
        background-color: #3a5caa;
        padding: 5px;
        width: 100%;
    }

    .fa {
        color: white;
    }

    .icon1 i {
        padding: 5px;
    }

    .major {
        border-bottom: 1px solid black;
        box-shadow: 1px 1px 20px 1px;
        top: 0px;
        left: 0px;
        background-color: white;
    }

    a:hover {
        text-decoration: none;
    }

    .nav1 a {
        margin-left: 20px;
        color: white;
    }

    /*.nav1{
		padding-top:10px;
	}*/
    footer {
        background-color: #3a5caa;
    }
</style>

<body>
    <div class="major  sticky-top">
        <!-- navbar-->
        <div class="icons d-flex">
            <div class="nav1">
                <a href="">Hostels</a>
                <a href="">Student portal</a>
                <a href="">Lirauniversity website</a>
            </div>
            <div class="icon1">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-envelope"></i>
                <i class="fa fa-phone"></i>
            </div>
        </div>
        <!-- narbar -->
        <div class="nav navbar container-fluid">
            <div class="d-flex">
                <div><img src="beacon log.png" style="max-width:100%;border-radius: 100%;height:90px;">
                </div>
                <div style="margin-top:20px;margin-left:5px;font-size:14px;">
                    <h5>Beacon Hostels</h5>
                    <p> comfort estates</p>
                </div>
            </div>
            <br>

            </a>
            <a href="/" class="w3-btn btn-success">Home</a>
            <a href="#" class="w3-btn btn-success">News</a>
            <a href="/booking" class="w3-btn btn-success">Book hostel</a>
            <a href="#"><input type="text" name="search" placeholder="Search hostel">
            </a>
        </div>
    </div>
    <!-- end of header div -->

    <!--  Body section -->
    <div class="row py-1">
        <div class="col-md-3 py-3">
            <div class="card">
                <img class="card-img-top" src="images/gettyimages-1065524354-612x612.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">Bako blessed</h3>
                    <div class="card-text d-flex justify-content-between">
                        <span> Fee: UGX 550000 Mixed </span>
                        <a class="btn btn-outline-secondary" href="/details">Details</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 py-3">
            <div class="card">
                <img class="card-img-top" src="images/gettyimages-1065524354-612x612.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">Bako blessed</h3>
                    <div class="card-text d-flex justify-content-between">
                        <span> Fee: UGX 550000 Mixed</span>
                        <a class="btn btn-outline-secondary" href="/details">Details</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 py-3">
            <div class="card">
                <img class="card-img-top" src="images/gettyimages-1065524354-612x612.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">Bako blessed</h3>
                    <div class="card-text d-flex justify-content-between">
                        <span> Fee: UGX 550000 Mixed</span>
                        <a class="btn btn-outline-secondary" href="/details">Details</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 py-3">
            <div class="card">
                <img class="card-img-top" src="images/gettyimages-1065524354-612x612.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">Bako blessed</h3>
                    <div class="card-text d-flex justify-content-between">
                        <span> Fee: UGX 550000 Mixed</span>
                        <a class="btn btn-outline-secondary" href="/details">Details</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 py-3">
            <div class="card">
                <img class="card-img-top" src="images/gettyimages-1065524354-612x612.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">Bako blessed</h3>
                    <div class="card-text d-flex justify-content-between">
                        <span> Fee: UGX 550000 Ladies Only </span>
                        <a class="btn btn-outline-secondary" href="/details">Details</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 py-3">
            <div class="card">
                <img class="card-img-top" src="images/gettyimages-1065524354-612x612.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">Bako blessed</h3>
                    <div class="card-text d-flex justify-content-between">
                        <span> Fee: UGX 550000 ladies Only </span>
                        <a class="btn btn-outline-secondary" href="/details">Details</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 py-3">
            <div class="card">
                <img class="card-img-top" src="images/gettyimages-1065524354-612x612.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">Bako blessed</h3>
                    <div class="card-text d-flex justify-content-between">
                        <span> Fee: UGX 550000 Mixed</span>
                        <a class="btn btn-outline-secondary" href="/details">Details</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--  end body section -->








    <!-- 	beginning of footer -->
    <footer>
        <div class="d-flex">
            <div class="container">
                <p><b>Follow us</b></p>
                <div class="social">
                    <a href=""><i class="fa fa-facebook" style="color:black"></i></a>
                    <a href=""><i class="fa fa-envelope-open" style="color:black"></i></a>
                    <a href=""><i class="fa fa-instagram" style="color:black"></i></a>
                    <a href=""><i class="fa fa-youtube" style="color:black"></i></a>
                    <a href=""><i class="fa fa-google-plus" style="color:black"></i></a>
                </div>
            </div>
            <div class="container">
                <p><b>Address</b></p>
                <div>
                    <i class="fa fa-map-marker"></i>Lira university<br>
                    <i class="fa fa-envelope"></i>lirauni.ac.ug@yahoo.com

                </div>
            </div>
            <div class="container">
                <p><b>Comment</b></p>
                <div>
                    <label>Write your comment</label><br>
                    <textarea placeholder="Your comment"></textarea><br>
                    <input type="submit" name="submit">
                </div>
            </div>
        </div>
    </footer>
    </div>
    <div>

        <!-- end of footer -->
</body>

</html>